* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

#container {
  display: flex;
  background-color: black;
  height: 100%;
  flex-direction: column;
  align-items: center;
}

#game {
  width: 100%;
  max-width: 500px;
  height: 100%;
  display: flex;
  flex-direction: column;
}

header {
  border-bottom: 1px solid rgb(59, 53, 53);
}

.title {
  color: gainsboro;
  font-size: 2.5rem;
  font-weight: bold;
  margin: 0.4rem 0 0.4rem 0;
  text-align: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

#board-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  overflow: unset;
}

#board {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 5px;
  padding: 10px;
  box-sizing: border-box;
}

.square {
  border: 2px solid rgb(59, 54, 54);
  min-width: 60px;
  min-height: 60px;
  font-size: 47px;
  font-weight: bold;
  color: gainsboro;
  text-transform: uppercase;
  background-color: hsl(var(--hue, 0), var(--sat, 0%), var(--light, 0%));
  display: flex;
  justify-content: center;
  align-items: center;
}

.square.wrong {
  --light: 23%;
}

.square.wrong-position {
  --hue: 49;
  --sat: 51%;
  --light: 47%;
}

.square.correct {
  --hue: 115;
  --sat: 29%;
  --light: 42%;
}

.square.shake {
  animation: shake 250ms ease-in-out;
}

@keyframes shake {
  10% {
    transform: translateX(-5%);
  }
  30% {
    transform: translateX(5%);
  }
  50% {
    transform: translateX(-7.5%);
  }
  70% {
    transform: translateX(7.5%);
  }
  90% {
    transform: translateX(-5%);
  }
  100% {
    transform: translateX(0);
  }
}

.alert-container {
  position: fixed;
  z-index: 1;
  top: 10vh;
  left: 50vw;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  flex-direction: column;
}

.alert {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-weight: 500;
  pointer-events: none;
  background-color: hsl(104, 7%, 85%);
  padding: 0.75em;
  border-radius: 0.25em;
  opacity: 1;
  transition: opacity 500ms ease-in-out;
  margin-bottom: 0.5em;
}

.alert:last-child {
  margin-bottom: 0;
}

.alert.hide {
  opacity: 0;
}

#keyboard-container {
  height: 200px;
  width: 100%;
}

.keyboard-row {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 0 auto 8px;
  touch-action: manipulation;
}

.keyboard-row button {
  font-family: inherit;
  font-weight: bold;
  border: 0;
  padding: 0;
}

.key {
  border-radius: 4px;
  height: 58px;
  cursor: pointer;
  background-color: hsl(
    var(--hue, 200),
    var(--sat, 1%),
    calc(var(--light-offset, 0%) + var(--light, 51%))
  );
  color: rgb(237, 234, 240);
  flex-grow: 1;
  text-transform: uppercase;
  margin-right: 5px;
  user-select: none;
}

.key:hover,
.key:focus {
  --light-offset: 10%;
}
.key.wrong {
  --light: 23%;
}

.key.wrong-position {
  --hue: 49;
  --sat: 51%;
  --light: 47%;
}

.key.correct {
  --hue: 115;
  --sat: 29%;
  --light: 42%;
}
.keyboard-row button.wide-button {
  flex-grow: 1.2;
}

.space-half {
  flex-grow: 1;
}
